# https://git-scm.com/docs/gitignore - info on how to use gitignore

#.idea/
#MikeSimNoGradle.iml

# DS_Store is an apple finder file that is irratating and not needed for anything here:
.DS_Store
**/.DS_Store
.idea/.DS_Store

MikeSimLog.txt

